.App {
  text-align: center;
  min-height: 100vh;
}

.left-sidebar {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  background: #161719;
  font-size: 16px;
  color: #fff;
}

.nav-item {
  list-style: none;
  padding-bottom: 10px;
  text-align: start;
}

.nav-item:hover {
  color: gold;
  font-size: 18px;
}